<nav class="nav-extended light-blue z-depth-3">
  <div class="container">
    <div class="nav-wrapper">
      <a [routerLink]="['/']" class="brand-logo">NCTU SPD Library System</a>
      <a [routerLink]="['#']" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <div *ngIf="!login">
          <li><a class="waves-effect" [routerLink]="['signIn']">Sign in</a></li>
          <li><a class="waves-effect" [routerLink]="['signUp']">Sign up</a></li>
        </div>
        <div *ngIf="login">
          <li><a class="waves-effect" (click)="logOut()">Sign out</a></li>
        </div>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <div *ngIf="!login">
          <li><a class="waves-effect" [routerLink]="['signIn']">Sign in</a></li>
          <li><a class="waves-effect" [routerLink]="['signUp']">Sign up</a></li>
        </div>
        <div *ngIf="login">
          <li><a class="waves-effect" (click)="logOut()">Sign out</a></li>
        </div>
      </ul>

      <ul class="tabs tabs-transparent">
        <li class="tab"><a [routerLink]="['check-out']">Check out</a></li>
        <li class="tab"><a [routerLink]="['check-in']">Check in</a></li>
        <li class="tab"><a [routerLink]="['user-info']">User Info</a></li>
        <li class="tab"><a [routerLink]="['book-info']">Book Info</a></li>
        <li class="tab" *ngIf="isAdm == true"><a [routerLink]="['book-vead']">Books VEAD</a></li>
      </ul>
    </div>
  </div>
</nav>
