<div class="row">
  <form class="col s12"
        (ngSubmit)="onSubmit(bookId.value)">
    <div class="row">
      <div class="input-field col s6">
        <input id="bookId"
               type="text"
               class="validate"
               ngModel
               name="bookId"
               #bookId/>
        <label for="bookId">Bar Code</label>
        <div class="error" *ngIf="error">{{ error.detail }}</div>
      </div>
      <br/>
      <button id="find"
              type="submit"
              class="btn waves-effect waves-light light-blue"
              name="action">Find
        <i class="material-icons left">search</i>
      </button>
    </div>
  </form>
</div>

<table class="responsive-table stripped">
  <thead>
  <tr>
    <td>Book Name</td>
    <td>ISBN</td>
    <td>Author</td>
    <td>Publisher</td>
    <td>Call Number</td>
    <td>Bar Code</td>
    <td>Status</td>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ bookInfo.title }}</td>
      <td>{{ bookInfo.ISBN }}</td>
      <td>{{ bookInfo.author }}</td>
      <td>{{ bookInfo.publisher }}</td>
      <td>{{ bookInfo.call_number }}</td>
      <td>{{ barCode.bar_code }}</td>
      <td *ngIf="barCode">
        <p *ngIf="barCode.is_borrowed" class="oc">Occupied</p>
        <p *ngIf="!barCode.is_borrowed" class="va">Vacant</p>
      </td>
    </tr>
  </tbody>
</table>
<hr/>
<table class="highlight">
  <thead>
  <tr>
    <th data-field="id">#</th>
    <th data-field="name">Book</th>
    <th data-field="isbn">ISBN</th>
    <th data-field="author">Author</th>
    <th data-field="publisher">Publisher</th>
    <th data-field="callNum">Call Number</th>
    <th data-field="oper" class="right-align"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books; let i = index;">
    <th>{{ i+1 }}</th>
    <td>{{ book.title}}</td>
    <td>{{ book.ISBN }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.publisher }}</td>
    <td>{{ book.call_number }}</td>
    <td>
      <a class="btn waves-effect" [routerLink]="['/book-info/'+book.id]">Detail</a>
    </td>
  </tr>
  </tbody>
</table>
