<div class="row">
  <form class="col s12"
        (ngSubmit)="onSubmit(bookId.value)">
    <div class="row">
      <div class="input-field col s6">
        <input id="bookId"
               type="text"
               class="validate"
               ngModel
               name="bookId"
               #bookId/>
        <label for="bookId">Book Bar Code</label>
        <div class="error" *ngIf="error">{{ error.detail }}</div>
      </div>
      <br/>
      <button id="find"
              type="submit"
              class="btn waves-effect waves-light light-blue"
              name="action">Find
        <i class="material-icons left">search</i>
      </button>
    </div>
  </form>
</div>
<table class="responsive-table stripped">
  <thead>
  <tr>
    <td>Book Name</td>
    <td>ISBN</td>
    <td>Author</td>
    <td>Publisher</td>
    <td>Bar Code</td>
    <td>Call Number</td>
    <td>Status</td>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ bookInfo.title }}</td>
      <td>{{ bookInfo.ISBN }}</td>
      <td>{{ bookInfo.author }}</td>
      <td>{{ bookInfo.publisher }}</td>
      <td>{{ barCode.bar_code }}</td>
      <td>{{ bookInfo.call_number }}</td>
      <td *ngIf="barCode">
        <p *ngIf="barCode.is_borrowed">Occupied</p>
        <p *ngIf="!barCode.is_borrowed">Vacant</p>
      </td>
    </tr>
  </tbody>
</table>
