<div class="row valign-wrapper">
  <form class="col s8"
        (ngSubmit)="onSubmit(bbr.value)"
        #barCode="ngForm">
    <div class="row">
      <div class="col s12 m12 l12 row valign-wrapper">
        <div class="input-field col s8">
          <input id="barCode" type="text" class="validate" #bbr>
          <label for="barCode" data-error="wrong" data-success="bar code not found">Bar Code</label>
        </div>
        <div class="col s4">
          <button id="submit"
                  type="submit"
                  class="btn waves-effect waves-light light-blue inline"
                  name="action"
                  [disabled]="!barCode.valid">Search
            <i class="material-icons right">search</i>
          </button>
        </div>
        <p class="error" *ngIf="error">{{error}}</p>
      </div>
    </div>
  </form>
  <form class="col s4 right-align">
    <div class="input-field inline valign-wrapper">
      <a class="waves-effect valign" (click)="addBook()">Add new books +</a>
    </div>
  </form>
</div>
<hr/>
<table class="highlight">
  <thead>
  <tr>
    <th data-field="id">#</th>
    <th data-field="name">Book</th>
    <th data-field="isbn">ISBN</th>
    <th data-field="author">Author</th>
    <th data-field="publisher">Publisher</th>
    <th data-field="callNum">Call Number</th>
    <th data-field="oper" class="right-align"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books; let i = index;">
    <th>{{ i+1 }}</th>
    <td>{{ book.title}}</td>
    <td>{{ book.ISBN }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.publisher }}</td>
    <td>{{ book.call_number }}</td>
    <td class="right-align">
      <a class="btn waves-effect green" [routerLink]="['/books-crud/edit/'+book.id]">Edit</a>
      <a class="btn waves-effect waves-light red darken-1" (click)="delete(book.id)">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
