<p><span>User: </span><span>calee0219</span></p>
<table>
  <tbody>
    <tr>
      <td>User Name</td>
      <td>Gavin Lee</td>
    </tr>
    <tr>
      <td>User ID</td>
      <td>0416037</td>
    </tr>
    <tr>
      <td>Birthday</td>
      <td>1997-02-19</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>No. 4, Alli 2, St. FuHai, ZonLi City, Touyan, Taiwan</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>0987-616-155</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>sz110010@gmail.com</td>
    </tr>
    <tr>
      <td>Price Recard</td>
      <td></td>
    </tr>
  </tbody>
</table>
