<p><span>User: </span><span>{{ me }}</span></p>
<div class="row" *ngIf="myInfo.is_staff">
  <form class="col s12"
        (ngSubmit)="onSubmit(userId.value)">
    <div class="row">
      <div class="input-field col s6">
        <input id="userId"
               type="text"
               class="validate"
               ngModel
               name="userId"
               #userId/>
        <label for="userId">User Account</label>
        <div class="error" *ngIf="error">{{ error.detail }}</div>
      </div>
      <br/>
      <button id="find"
              type="submit"
              class="btn waves-effect waves-light light-blue"
              name="action">Find
        <i class="material-icons left">search</i>
      </button>
    </div>
  </form>
</div>
<table class="highlight">
  <tbody>
    <tr>
      <th>User Name</th>
      <td>{{ userInfo.first_name}} {{ userInfo.last_name }}</td>
    </tr>
    <tr>
      <th>User Account</th>
      <td>{{ userInfo.username }}</td>
    </tr>
    <tr>
      <th>User ID</th>
      <td>{{ userInfo.student_id }}</td>
    </tr>
    <tr>
      <th>Birthday</th>
      <td>{{ userInfo.birthday }}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>{{ userInfo.address }}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{{ userInfo.phone_number }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ userInfo.email }}</td>
    </tr>
  </tbody>
</table>
