<div class="row valign-wrapper">
  <form class="col s8"
        (ngSubmit)="onSubmit(user.value)"
        #user="ngForm">
    <div class="row">
      <div class="col s12 m12 l12 row valign-wrapper">
        <div class="input-field col s8">
          <input id="user" type="text" class="validate">
          <label for="user" data-error="wrong" data-success="right">User Account</label>
        </div>
        <div class="col s4">
          <button id="submit"
                  type="submit"
                  class="btn waves-effect waves-light light-blue inline"
                  name="action"
                  [disabled]="!user.valid">Search
            <i class="material-icons right">search</i>
          </button>
        </div>
      </div>
    </div>
  </form>
  <form class="col s4 right-align">
    <div class="input-field inline valign-wrapper">
      <a class="waves-effect valign" (click)="addUser()">Add new user +</a>
    </div>
  </form>
</div>
<table class="highlight">
  <thead>
  <tr>
    <th data-field="id">#</th>
    <th data-field="name">User</th>
    <th data-field="id">ID</th>
    <th data-field="account">Account</th>
    <th data-field="email">Email</th>
    <th data-field="phone">Phone Number</th>
    <th data-field="bd">Birthday</th>
    <th data-field="address">Address</th>
    <th data-fiele="staff">Staff</th>
    <th data-field="oper" class="right-align"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users; let i = index;">
    <td>{{ i+1 }}</td>
    <td>{{ user.last_name }} {{ user.first_name }}</td>
    <td>{{ user.student_id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.phone_number }}</td>
    <td>{{ user.birthday }}</td>
    <td>{{ user.address }}</td>
    <td>
      <p *ngIf="user.is_staff" class="sta">Staff</p>
      <p *ngIf="!user.is_staff" class="gue">Guest</p>
    </td>
    <td class="right-align">
      <a class="btn waves-effect green" [routerLink]="['/users-crud/edit/'+user.username]">Edit</a>
      <a class="btn waves-effect waves-light red darken-1" (click)="delete(user.username)">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
