<form class="col s12"
      (ngSubmit)="onSubmit(uName.value,pw.value)"
      #ing="ngForm">
  <div class="row">
    <div class="input-field col s12">
      <input id="account"
             type="text"
             class="validate"
             ngModel
             name="account"
             required
             #uName/>
      <label for="account">Account</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="password"
             type="password"
             class="validate"
             ngModel
             name="password"
             pattern=".{6,}"
             required
             #pw/>
      <label for="password">Password</label>
    </div>
  </div>
  <button id="submit"
          type="submit"
          class="btn waves-effect waves-light light-blue"
          name="action"
          [disabled]="!ing.valid">Submit
    <i class="material-icons right">send</i>
  </button>
  <div id="errorMSG">{{ error }}</div>
</form>
<h1>{{items}}</h1>
