<!--<div class="row">-->
  <form class="col s12" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name"
               type="text"
               class="validate"
               ngModel
               name="first_name"
               required/>
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name"
               type="text"
               class="validate"
               ngModel
               name="last_name"
               required/>
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="id_card"
               type="text"
               class="validate"
               ngModel
               name="id_card"
               required/>
        <label for="id_card">ID Card number</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="2016-02-19"
               id="birth"
               type="date"
               class="datepicker"
               ngModel
               name="birth"
               required/>
        <label class="active" for="birth">Birthday</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="address"
               type="text"
               class="validate"
               ngModel
               name="address"
               required/>
        <label for="address">Address</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email"
               type="email"
               class="validate"
               ngModel
               name="email"
               required/>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="phone"
               type="tel"
               class="validate"
               ngModel
               name="phone"
               required/>
        <label for="phone">Phone number</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="account"
               type="text"
               class="validate"
               ngModel
               name="account"
               required/>
        <label for="account">Account</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password"
               type="password"
               class="validate"
               ngModel
               name="password"
               pattern=".{6,}"
               title="password must more than 6 charactors"
               required/>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="re_password"
               type="password"
               class="validate"
               ngModel
               name="re_password"
               pattern=".{6,}"
               title="re-input password must match password"
               required/>
        <label for="re_password">Password Again</label>
      </div>
    </div>
    <div class="row">
      <button id="reset"
              type="reset"
              class="btn waves-effect waves-light grey"
              name="reset">Reset
      </button>
      <button id="submit"
              type="submit"
              class="btn waves-effect waves-light light-blue"
              name="submit"
              [disabled]="!f.valid">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
<!--</div>-->
