<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name"
               type="text"
               class="validate"
               ngModel
               name="first_name"/>
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name"
               type="text"
               class="validate"
               ngModel
               name="last_name"/>
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="id_card"
               type="text"
               class="validate"
               ngModel
               name="id_card"/>
        <label for="id_card">ID Card number</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="birth"
               type="date"
               class="datepicker"
               ngModel
               name="birth"/>
        <label for="birth">Birthday</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="address"
               type="text"
               class="validate"
               ngModel
               name="address"/>
        <label for="address">Address</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email"
               type="email"
               class="validate"
               ngModel
               name="email"/>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="phone"
               type="tel"
               class="validate"
               ngModel
               name="phone"/>
        <label for="phone">Phone number</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="account"
               type="text"
               class="validate"
               ngModel
               name="account"/>
        <label for="account">Account</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password"
               type="password"
               class="validate"
               ngModel
               name="password"/>
        <label for="password">Password</label>
      </div>
    </div>
    <div>
      <button id="submit"
              type="submit"
              class="btn waves-effect waves-light"
              name="action">Submit
        <i class="material-icons right">submit</i>
      </button>
    </div>
  </form>
</div>
